<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <span>nandini.</span>
    <span class="example-spacer"></span>
    <a class="example-icon" href="#about">About</a>
    <a href="#projects" class="example-icon"> <span >Projects</span></a>
   <a href="contact_me" class="example-icon"> <span  >Contact Me</span></a>
  </mat-toolbar-row>
</mat-toolbar>

<body class="docs-app-background">
  <div  class="flex-container" id="about">
    <div  style="width: 45%; padding-top: 5%" class="in-left">
      <img src="assets/Nandini-portfolio.jpeg" alt="profile" />
    </div>
    <div class="in-right" style="width: 45%; padding-top: 13%">
      <h1 class="about">Hi there!</h1>
      <br/>
      <div>
        I am Nandini Jain, a second year undergraduate student at IIT BHU,
        interested in all things tech, and love building applications which
        might be useful to someone. An enthusiast web dev, when I'm not
        participating in hackathons or exploring new tech,I am probably having
        coffee or learning a new dance choreography!
      </div>
      <a href="https://drive.google.com/file/d/1cCCNuFhbihwqesKYF1kfvLAcEeSXfdK5/view?usp=sharing">
        <button mat-raised-button color="warn" class="resume" > My Resume</button>
      </a>
    </div>
  </div>
<br>
<br>
<br>
<mat-divider></mat-divider>
  <br>
  <div class="projects" style="margin-top: 5%;" id="projects">
    <br>
    <br>
 <h1 class="about"> <span class="material-icons">
  build
  </span>
  Projects</h1>
 <div> These are some of the projects I have made, trying to solve social issues, one project at a time! </div>
 <div class="container">
 <mat-card class="example-card" style="margin: 5%;" *ngFor="let project of projects">
  <mat-card-header>
    <mat-card-title>{{project.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image style="border-radius: 0%;" src="{{project.img}}">
  <mat-card-content>
    <p>
   {{project.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
     <button mat-button *ngFor="let techs of project.tech">{{techs.name}}</button>  
  </mat-card-actions>
  <div class="work_links">
   <a href={{project.site_link}}> 
    <button  *ngIf="project.site_link" mat-raised-button color="primary" class="visit_site" >Visit Site</button>
   </a>
    <a href="{{project.repo_link}}" title="View Source Code" target="_blank">
      <img src="assets/github.svg" class="work__code" alt="GitHub" >
    </a>
  </div>
</mat-card>
</div>
  </div>

  <br>
  <br>
  <br>
  <mat-divider>
  </mat-divider>
  <br>
  <br>
  <div id="contact_me">
<h1> Get In Touch! </h1>
<p> Send a mail at:</p>
<p class="mail" style>
  <br>
  <span  class="material-icons">
    mail
    </span>
    <br>
     nandini.jain.cd.eee19@itbhu.ac.in</p>
  <ul class="footer__social-links">
    <!-- <li class="footer__social-link-item">
      <a href="mailto:nandini.jain.cd.eee19@itbhu.ac.in" target="_blank" rel="noopener noreferrer" title="Link to Mail me">
        <img src="../assets/img/MailIcon.jpg" class="footer__social-image" alt="Mail">
      </a>
    </li> -->
    <li class="footer__social-link-item">
      <a href="https://github.com/Inoxia25/" title="Link to Github Profile">
        <img src="assets/github.svg" class="footer__social-image" alt="Github">
      </a>
    </li>
    <li class="footer__social-link-item">
      <a href="https://www.instagram.com/nandini_2503/" title="Link to Instagram">
        <img src="assets/InstaLogo.png" class="footer__social-image" alt="Instagram">
      </a>
    </li>
    <li class="footer__social-link-item">
      <a href="https://www.linkedin.com/in/nandini-jain-87aa311b4">
        <img src="assets/linkedin.svg" title="Link to Linkedin Profile" class="footer__social-image" alt="Linkedin">
      </a>
    </li>
  </ul>
  <br>
  <br>
  <p>© 2021 - Template designed & developed by Nandini.</p>
 
  <br>
  <br>
</div>
</body>

<router-outlet></router-outlet>
